.btn {
  cursor: pointer;
}

.invisibleBtn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
}

.primaryBtn {
  width: 100%;
  padding: 16px 0;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  background-color: #0062F5;
  border-radius: 12px;
  border: none;
  transition: all 400ms ease-in;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 2px 6px -2px #1D29343D;
  }
}

.primaryFixedBtn {
  width: auto;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 24px;
  margin: 0px 24px;
  padding: 16px 0;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  background-color: #0062F5;
  border-radius: 12px;
  border: none;
  // transition: all 400ms ease-in;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 2px 6px -2px #1D29343D;
  }
}