.goals {
  list-style-type: none;
  border: 1px solid #DFE5EF;
  border-radius: 12px;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;

    &:not(:last-child) {
      border-bottom: 1px solid #DFE5EF;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
  }

  &__text {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
  }

  &__quantity {
    font-family: 'Lora';
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
}