.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 12px;
  background-color: #F1F5FB;
  border-radius: 8px;

  &:focus-within {
    outline: 2px solid #222B38;
  }

  &__error {
    position: relative;
    outline: 2px solid #FF0000;

    &:focus-within {
      outline: 2px solid #FF0000;
    }

    &::after {
      content: 'Error';
      color: red;
      position: absolute;
      bottom: -32px;
      left: 0;
      font-family: 'Inter';
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #0062F5;
  }

  input {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 24px;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
  }
}